<div class="footer">
        
        <div id="social-icons">
        	<a href="#"><img src="./assets/facebook_logo.png" title="facebook" /></a>
        	<a href="#"><img src="./assets/twitter_logo.png" title="twitter" style="margin-left: 15px;" /></a>
        	<a href="#"><img src="./assets/linkedin_logo.png" title="blog" style="margin-left: 15px;" /></a>
        </div>
        <div id="company-info-footer">
        	<p><span><a href="#">Retailer Ordering</a> | <a href="#">Contact Us</a></span>&nbsp;|&nbsp;&copy; Company 2013</p>
        </div>
</div>